/* RTL STYLE */

/*---------------------------------------------------*/
/*	HTML RIGHT TO LEFT
/*---------------------------------------------------*/

body {
	text-align: right;
}
body,
.pricing-table .pricing-wrap,
.team-thumb .team-social {
	direction: rtl;
}
.clearfix {
	clear: right;
}

/*	FIELD */
.field-label-inline .field-label {
	float: right;
	margin-left: 7px;
}
.field-label-inline .field-label:after {
	margin-right: 2px;
}

.pager li {
	margin-right: 0;
	margin-left: 4px;
}

/*	PROFILE */
.profile > div {
	padding-left: 5px;
}
.profile h4.label {
	text-align: right;
}

/*	BLOCK  */
.block-help {
	border-color: #c8d3ee transparent #c8d3ee #c8d3ee;
	box-shadow: 8px 0 0 #2d4688;
}

/*	BLOCK TITLE  */
.block-title-right .block-title-wrap {
	text-align: left;
}

/*	BREADCRUMB */
.region-breadcrumb {
    text-align: left;
}
.breadcrumb ul li {
	padding-left: 15px;
	margin-left: 5px;
	margin-right: 0;
	padding-right: 0;
}
.breadcrumb ul li:last-child {
	padding-left: 0;
	margin-left: 0;
}
.breadcrumb ul li:after {
    right: auto;
	left: 0;
	border-right: none;
    border-left: 2px solid #aaaaaa;
    transform: rotate(45deg);
}

.mega-menu > ul > li > ul > li > ul > li {
	float: right;
}

/* HEADER INFO */
.header-info .header-info-item {
	margin-right: 40px;
	margin-left: 0;
}
.header-info .header-info-item:first-child {
	margin-right: 0;
}
.header-info .header-info-item i {
	margin-right: 0;
	margin-left: 15px;
}
.header-top .form-control,
.header-top .nice-select,
.dropdown-toggle {
	padding-right: 0 !important;
	padding-left: 13px !important;
}
.header-top .nice-select:after {
	left: 0;
	right: auto;
}
.header-top .block {
	margin-right: 0;
	padding-right: 0;
	margin-left: 15px;
	border-right: none;
	border-left: 1px solid rgba(0,0,0,.2);
	padding-left: 15px;	
}
.header-top .block:last-child {
	margin-left: 0;
	border: none;
}
.light-header-top .block {
    border-color: rgba(255,255,255,0.3);
}
.header-top .block:first-child {
    margin-right: 0;
	padding-right: 0;
}

/*	NICE SELECT  */
.nice-select {
	 padding: 0 18px 0 30px !important;
	 text-align: right !important;
}
.nice-select:after {
	border-left: 2px solid #999999;
	border-right: none;
	left: 12px;
	right: auto;
	-webkit-transform-origin: 34% 66%;
        -ms-transform-origin: 34% 66%;
            transform-origin: 34% 66%;
	-webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.nice-select.open:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}
.nice-select.right {
	float: left;
}
.nice-select.right .list {
	right: auto;
	left: 0;
}
.nice-select .list {
	right: 0;
	left: auto;
}
.nice-select .option {
	padding-right: 18px;
	padding-left: 29px;
	text-align: right;
}

.dropdown-toggle {
	padding-left: 0 !important;
	/*padding-left: 15px;*/
}
.dropdown-toggle:after {
	right: auto;
	left: 0;
}

.social-icon li {
	margin-right: 0;
	margin-left: 3px;
}
.social-icon li:last-child {
	margin-left: 0;
}

/*	FOOTER  */
.footer-bottom .footer-bottom-second {
	text-align: left;
}
.footer-bottom ul.menu li {
	margin-right: 15px;
	margin-left: 0;
}

/* MENU TAG */
.menu-tag a {
	margin-right: 0;
	padding-right: 0;
	margin-left: 4px;
	padding-left: 8px;
	border-right: none;
	border-left: 1px solid #adadad;
}
.menu-tag li:last-child a {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}

/* FOOTER SOCIAL */
.footer .social-media ul li a {
	margin-left: 0;
	margin-right: 5px;
}

/*	SCROLL TO TOP  */
.back-to-top {
	right: auto;
	left: 30px;
}

/*	MAINTAINANCE PAGE */
.maintenance-msg {
	box-shadow: -5px 5px 0px #ffffff;
}

/*	CONTACT ADDRESS  */
.contact-address .contact-address-line {
	padding-right: 45px;
	padding-left: 0;
}
.contact-address i {
	left: auto;
	right: 0;
}
.sidebar .contact-address .contact-address-line {
	padding-right: 30px;
}

/*	OWL CAROUSEL  */
.owl-slider-wrapper .owl-nav {
	left: 0;
	right: auto;
}
#slider .owl-carousel:hover .owl-nav .owl-prev,
.slide-carousel.owl-carousel:hover .owl-nav .owl-prev,
.owl-slider-field.owl-carousel:hover .owl-nav .owl-prev {
	right: 15px;
	left: auto;
}
#slider .owl-carousel:hover .owl-nav .owl-next,
.slide-carousel.owl-carousel:hover .owl-nav .owl-next,
.owl-slider-field.owl-carousel:hover .owl-nav .owl-next {
	left: 15px;
	right: auto;
}
#slider .owl-carousel .owl-dots .owl-dot span:after {
	left: auto;
	right: -50%;
	margin-right: -3px;
	margin-left: 0;
}

/*	TESTIMONIALS  */
.testimonial-body:after {
	left: auto;
	right: 50px;
	margin-right: -25px;
	margin-left: 0;
}

/* FEATURE BOX */
.feat {
	/*padding-left: 15px;
	padding-right: 60px;*/
}

.feature-block .feat {
	text-align: right;
}

/* SHUFFLE */
.shuffle-filters {
	float: right;
}
.shuffle-filters-container {
	direction: rtl;
}

/* FEATURE IMAGE */
.node-feat-icon {
	float: right;
}
.feature-block .background-image .feat-block-image {
	right: 0;
	left: auto;
}
.feat-block-video .colorbox {
	left: auto;
	right: 0;
}
.feat-block-video .colorbox:after {
	margin-left: 0;
	margin-right: -30px;
	right: 50%;
}

/* SERVICES */
.service-teaser .service-title-wrap {
	padding: 0 20px 0 5px;
}
.service-teaser .service-title-wrap:before {
	left: auto;
	right: 3px;
    z-index: 2;
}
.service-teaser .service-content,
.service-teaser .service-content:before {
    left: auto;
	right: 0;
}

/*	TEAM  */
.team-social .fa {
	margin-right: 0;
	margin-left: 10px;
}

/*	DRUPAL COMMERCE  */
td.subtotal-title {
	padding: 10px 5px 10px 0;
}
.cart-block--summary {
	padding-right: 0;
	padding-left: 15px;
}
.cart-block--summary__count {
	right: auto;
	left: 0;
}
.cart-block--contents {
	right: auto;
	left: 0;
	text-align: right;
}
.cart--cart-block td.views-field-quantity {
	padding-left: 0;
}
.cart--cart-block .cart-block-count {
	left: auto;
	right: 15px;
}
.cart--cart-block .cart-block-link {
	text-align: left;
}
.commerce-checkout-flow .address-container-inline .form-item {
	margin-left: 15px;
}
div.address-container-inline > .form-item:last-child {
	margin-left: 0;
}
.layout-checkout-form .form-actions a {
	margin-right: 10px;
}
.checkout-progress--step:before {
	margin-left: 8px;
}

/* PRODUCT TEASER ICON PLACEMENT */
.product-teaser .product-variation-wrap {
	left: auto;
	right: 0;
}
.product-old-price {
	margin-left:5px;
	margin-right: 0;
}
.product-list-wrap {
	text-align: right;
}
.list-grid .product-teaser .product-meta-wrap {
	text-align: right;
}

.product-post .product-old-price {
	margin-left: 0;
	margin-right: 7px;
}
.product-post .product-icon {
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 0;
	margin-right: 0;
}
.product-post .product-icon:after {
	right: auto;
	left: 0;
}
.product-post .product-icon i,
.product-post .product-icon .flag-title {
	float: right;
}
.product-post .product-icon i {
	margin-left: 10px;
	margin-right: 0;
}

.product-info .panel-heading .panel-title > a:after {
	right: auto;
	left: 0;
}
.product-info .panel-heading .panel-title > a {
	padding: 12px 0 12px 45px;
}
.taxonomy-term.vocabulary-brand {
	float: right;
}

.product--rendered-attribute .form-item {
	margin-left: 3px;
	margin-right: 0;
}

/* VIEWS EXPOSED FILTER */
.product-catalog .views-exposed-form {
	text-align: left;
}
.views-exposed-form .form-item,
.views-exposed-form .form-actions,
.header .views-exposed-form .form-actions .button {
	margin: 0 5px 0 0;
}
.views-exposed-form select {
	padding-right: 15px;
	padding-left: 0;
}
.header .views-exposed-form form {
	padding-right: 0;
	padding-left: 50px;
}
.header .views-exposed-form .form-item:before {
	right: auto;
	right: 0;
}
.header .views-exposed-form .form-actions {
	right: auto;
	left: -1px;
}
.product-catalog .views-exposed-form .form-item label {
	margin-right: 0;
	margin-left: 5px;
}
.product-catalog .switch-icon {
    left: auto;
	right: 0;
}
.product-category-name-wrap {
	left: auto;
	right: 0;
}
.count-product-category .product-category-url {
	padding-left: 9px;
	padding-right: 28px;
}
.product-category-count {
	margin-right: 8px;
	margin-left: 0;
	float: left;
}

/* PRODUCT BADGES*/
.product-badge {
	left: auto;
	right: 10px;
}
.product-icon-left .product-badge {
	right: auto;
	left: 10px;
}
/* PRODUCT ICON BOX */
.box-icon .box-icon-items:last-child {
	border-left: none;
}
.box-icon .box-icon-item .box-desc {
	text-align: right;
}
.box-icon .box-icon-item .box-icon {
	margin-left: 15px;
	margin-right: 0;
}

/* RATING STARS */
.count-product-category .product-category-url {
	padding-left: 8px;
	padding-right: 20px;
}

.category-menu .cat-icon {
	right: auto;
	left: 0;
}

.header .views-exposed-form .form-actions .button,
.quantity-button.quantity-up {
    border-radius: 50px 0 0 50px;
}
.round-style .quantity-button.quantity-down {
	border-radius: 0 50px 50px 0;
}

.btn-curve .header .views-exposed-form .form-actions .button,
.btn-curve .quantity-button.quantity-up {
	border-radius: 5px 0 0 5px;
}
.btn-curve .quantity-button.quantity-down {
	border-radius: 0 5px 5px 0;
}


.quantity-button {
	left: auto;
	right: 0;
}
.commerce-order-item-add-to-cart-form .field--name-quantity input {
	margin-right: 38px;
	margin-left: 0;
}
.quantity-button.quantity-up {
	left: auto;
	right: 87px;
	border-left: 1px solid #eeeeee;
	border-right: none;
}
.quantity-button.quantity-down {
	border-right: 1px solid #eeeeee;
	border-left: none;
}
.product-post .product-stock .stock-availability,
.product-post .product-stock .available-stock,
.product-post .product-stock .out-of-stock {
    float: right;
    margin-right: 0;
	margin-left: 7px;
}
.pricing-table .pricing-features .field-item:before {
	margin-right: 0;
	margin-left: 10px;
}

.product-info .nav-tabs > li > a {
	margin-right: 0;
	margin-left: 30px;
}
.piczoomer-zoom-wp {
	left: auto;
	right: 100%;
}

.mega-menu > ul > li > ul {
	left: auto;
	right: 0;
}
.more-toggler:after {
	right: auto;
	left: 20px;
}

/* CTA */
.action-block-2 .cta-link {
	text-align: left;
}

/*  SIMPLENEWS  */
.simplenews-subscriber-form input {
	padding-right: 25px;
	padding-left: 120px;
}

.footer .simplenews-subscriber-form .field--name-mail input {
	padding-left: 100px;
	padding-right: 0;
}
.simplenews-subscriber-form .form-actions {
	left: 0;
	right: auto;
}
.simplenews-subscriber-form .block-title-wrap {
	padding-right: 60px;
	padding-left: 0;
}
.simplenews-subscriber-form .block-title-wrap:before {
	right: 0;
	left: auto;
}
.simplenews-subscriber-form.block-title-center .block-title-wrap:before {
	margin-left: 0;
	margin-right: -25px;
}

/* FACETS */
.facet-item,
.js-facets-checkbox-links label,
.br-theme-css-stars .br-widget a {
	float: right;
}
.facet-item__count {
	margin-right: 2px;
	margin-left: 0;
}
.js-facets-checkbox-links input[type="checkbox"],
.facet-list li {
	margin: 0 0 0 10px;
}

[type="checkbox"] + label {
	padding-left: 0;
	padding-right: 30px;
}
[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
	left: auto;
	right: 0;
}

/* CHECKBOXES */
[type="checkbox"]:not(:checked) + label:before {
	right: 6px;
	left: auto;
}
[type="checkbox"]:checked + label:before {
	right: 2px;
	left: auto;
	border-right: 2px solid transparent;
	border-left: 2px solid #ffffff;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.slimScrollBar {
	left: 1px !important;
	right: auto !important;
}

@media (min-width: 768px) {	
	.navbar-brand {
		margin-right: 0;
		margin-left: 30px;
	}
	.header-element {
		margin-left: 0;
		margin-right: 30px;
	}
	.header-top .header-top-second {
		text-align: left;
	}
	.header-top .header-top-first {
		text-align: right;
	}
	.header-item .block {
		margin-left: 0;
		margin-right: 30px;
	}
	.header-item:last-child {
		margin-left: 0;
	}
	.header-main-wrap {
		padding-left: 0;
		padding-right: 15px;
	}
	.header-main {
		text-align: left;
	}
	.nav-left,
	.header-main .block {
		text-align: right;
	}
	.nav-right,
	.main-menu-right {
		text-align: left;
	}

	.mega-menu > ul {
		text-align: right;
	}
	.mega-menu > ul > li > a {
		padding: 0 0 0 25px;
	}
	.mega-menu > ul > li.menu-dropdown > a {
		padding-right: 0;
		padding-left: 35px;
	}
	.menu-dropdown > a:after {
		right: auto;
		left: 20px;
	}
	.mega-menu > ul > li > ul > li {
		margin-right: 0;
		margin-left: 25px;
	}
	.mega-menu > ul > li > ul > li:last-child {
		margin-left: 0;
	}
	.category-menu .mega-menu > ul > li > a {
		padding: 0 25px;
	}	
	.category-menu .menu-dropdown > a:after {
		-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	.category-menu .mega-menu > ul > li > ul {
		left: auto;
		right: 100%;
	}
	.category-menu-alt .cat-icon {
		right: 0;
		left: auto;
	}
	
	.header-style2 .main-menu-right {
		padding-right: 15px;
		padding-left: 25px;
	}
	.header-style2 .mega-menu > ul > li.menu-dropdown > a {
		padding-right: 24px;
		padding-left: 38px;
	}
	.header-style2 .mega-menu > ul > li > a:before {
		right: auto;
		left: 0;
	}
	.header-style5 .header-main-wrap .header-item .block:first-child {
		margin-right: 0;
	}
	.header-style5 .header-main-wrap {
		padding-right: 0;
	}
	.header-style5 .nav-menu {
		padding-left: 0;
		padding-right: 180px;
	}
	
	.header-style6 .header-main-wrap .header-item .block {
		margin-right: 0;
		margin-left: 35px;
	}
	.header-style6 .header-main-wrap {
		padding-left: 0;
	}

	.navbar-brand {
		margin-left: 30px;
		margin-right: 0;
	}
	.header-element {
		margin-right: 30px;
		margin-left: 0;
	}
	.sticky-header .sticky {
		right: 0;
		left: auto;
	}
	.framed-layout .sticky-header .sticky {
		right: 30px;
		left: auto;
	}
	.framed-layout .back-to-top,
	.boxed-layout .back-to-top	{
		left: 60px;
		right: auto;
	}
	
	.framed-layout .col-md-3.main-menu-left {
		padding-left: 20px;
		padding-right: 0;
	}
	
	.feature-block-image-left .feat-block-image-wrap {
		padding-right: 15px;
		padding-left: 25px;
	}
	.feature-block-image-left .feat-block-content {
		padding-left: 15px;
		padding-right: 25px;
	}
	.feature-block-image-right .feat-block-image-wrap {
		padding-right: 25px;
		padding-left: 15px;
	}
	.feature-block-image-right .feat-block-content {
		padding-left: 25px;
		padding-right: 15px;
	}

	.feature-block-layout3 .feature-block-wrap {
		padding-right: 0;
		padding-left: 120px;
	}
	.feature-block-layout4 .feature-block-wrap {
		padding-left: 0;
		padding-right: 120px;
	}
	.feature-block-layout3 .feat-block-content {
		right: auto;
		left: 0;
	}
	.feature-block-layout4 .feat-block-content {
		left: auto;
		right: 0;
	}
	
	.bottom-widgets,
	.simplenews-subscriber-form.block-title-left .block-title-wrap,
	.simplenews-subscriber-form.block-title-right .block-content {
		float: right;
	}
	.simplenews-subscriber-form.block-title-left .block-content,
	.simplenews-subscriber-form.block-title-right .block-title-wrap,
	.product-catalog .pager {
		float: left;
	}

}

@media (min-width: 1200px) {
	.fullwidth.feature-block .feature-block-layout1 .feat-block-content {
		padding-right: 4em;
		padding-left: 10em;
	}
	.fullwidth.feature-block .feature-block-layout2 .feat-block-content {
		padding-right: 10em;
		padding-left: 4em;
	}
}

@media (max-width: 768px) {
	.header-element {
		right: auto;
		left: 60px;
	}
	.footer-widget .footer-widget-section:last-child .block {
		padding-left: 15px;
	}
	.node-content .product-add-to-cart {
		text-align: right;
	}
	.owl-carousel .owl-nav .owl-prev {
		right: 0;
		left: auto;
	}
	.owl-carousel .owl-nav .owl-next {
		left: 0;
		right: auto;
	}
}

@media (max-width: 480px) {
	.header-element-icon {
		margin-right: 0;
		border-right: none;
		border-left: 1px solid;
	}
	.header-element-item {
		margin-right: 3px;
		margin-left: 0;
	}
	.header-element {
		left: 50px;
		right: auto;
	}
	.page-title1 .region-breadcrumb {
		text-align: right;
	}
}