	<ul>
		{% if facebook_url %}
		<li><a href="{{ facebook_url }}" class="facebook" target="_blank" ><i class="fa fa-facebook"></i></a></li>
		{% endif %}
		{% if google_plus_url %}
		<li><a href="{{ google_plus_url }}" class="google-plus" target="_blank" ><i class="fa fa-google-plus"></i></a></li>
		{% endif %}
		{% if twitter_url %}
		<li><a href="{{ twitter_url }}" class="twitter" target="_blank" ><i class="fa fa-twitter"></i></a></li>
		{% endif %}
		{% if linkedin_url %}
		<li><a href="{{ linkedin_url }}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
		{% endif %}
		{% if instagram_url %}
		<li><a href="{{ instagram_url }}" class="instagram" target="_blank" ><i class="fa fa-instagram"></i></a></li>
		{% endif %}
		{% if pinterest_url %}
		<li><a href="{{ pinterest_url }}" class="pinterest" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
		{% endif %}
		{% if youtube_url %}
		<li><a href="{{ youtube_url }}" class="youtube" target="_blank" ><i class="fa fa-youtube-play"></i></a></li>
		{% endif %}
		{% if vimeo_url %}
		<li><a href="{{ vimeo_url }}" class="vimeo" target="_blank" ><i class="fa fa-vimeo-square"></i></a></li>
		{% endif %}
		{% if dribbble_url %}
		<li><a href="{{ dribbble_url }}" class="dribbble" target="_blank" ><i class="fa fa-dribbble"></i></a></li>
		{% endif %}
		{% if rss_url %}
		<li><a href="{{ rss_url }}" class="rss" target="_blank" ><i class="fa fa-rss"></i></a></li>
		{% endif %}
	</ul>
